$breakpoints: (
  xxs: 320px,
  xs: 480px,
  s: 720px,
  m: 1080px,
  l: 1270px,
  xl: 1620px,
  xxl: 2430px,
);

@mixin minWidth($breakpoint) {
  @media screen and (min-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin maxWidth($breakpoint) {
  @media screen and (max-width: map-get($breakpoints, $breakpoint)) {
    @content;
  }
}

@mixin minMaxWidth($min, $max) {
  @media screen and (min-width: map-get($breakpoints, $min)) and (max-width: map-get($breakpoints, $max)) {
    @content;
  }
}
